@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;900&display=swap');

html,body { 
    margin: 0px; 
    padding: 0px; }

a {
    text-decoration: none;
    color: inherit;
}

.main {
    position: relative;
    width: 70%;
    overflow-y: auto;
    height: calc(100vh - 60px);
    margin: 0 auto;
    background-color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 0 100px 0 rgba(219, 76, 63, .6);
    font-family: 'Titillium Web', sans-serif;
}

.mainhead {
    position: relative;
    background-color: #d45041;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 0;
    color: white;
    font-size: 18px;
}

.leftmenu {
    float: left;
    width: 25%;
    
}
.rightmenu {
    float: left;
    width: 75%;
}

.opak {
    opacity: .7;
    text-decoration: line-through;
}

.searchbox {
    padding-left: 20%;
}
ul.todo-list > li {
    margin: .75rem 0;
}

li.done {
    text-decoration: line-through;
}

.Ara::placeholder {
    color: white;
    font-size: 15px;
    opacity: .7;
}

textarea:focus, input:focus{
    outline: none;
}

.gear {
    position: absolute;
    right: 15px;
}

.gear:hover {
    color: black;
    cursor: pointer;
}

.fa-book-reader {
    font-size: 24px;
}

.fa-book-reader:hover {
    color: black;
    cursor: pointer;
}

.leftmenu ul {
    padding-top: 25px;
    list-style: none;
}

.leftmenu ul li {
    padding-top: 10px;
    cursor: pointer;
}
.leftmenu ul li:hover {
    color: brown;
    font-weight: 600;
}
.leftmenu span{
    padding-left: 8px;
}

.active {
    font-weight: 600;
}

.icerik {
    padding: 30px;
}

.eklenenler ul {
    list-style: none;
    padding: 0;
}

.eklenenler ul li {
    background-color: transparent;
    margin-bottom: 5px;
    padding: 10px 30px;
    border-bottom: 1px solid rgb(202, 202, 202);
}

.delete:hover {
    color: maroon;
}

.kucuk {
    font-size: 12px;
}

label {
    font-weight: 600;
}

.bi-star-fill {
    cursor: pointer;
}
.bi-star-fill:hover {
    color: goldenrod;
}

.bi-file-minus-fill {
    cursor: pointer;
}

.form-check {
    margin-bottom: 10px;
}

.yildizarka {
    background-color: rgb(255, 255, 194) !important;
}

.sil {
    font-size: 14px;
}